/* styles all links in my document */
a { 
    color: rgb(241, 65, 164); 
    font-family: 'monospace', sans-serif;
}

 a:visited { color: rgb(226, 147, 192); }

 h1, h2, h3 { 
    margin-bottom: 0;
    font-family: 'Brush Script MT', sans-serif;
    font-size: 60px;
   
 }

 h4, h5, h6 { 
    margin-top: 0;
    font-family: 'cursive', sans-serif;
    margin-bottom: 40px;
  
 }

body{ 
    margin: 0; 
    font-family: 'Arial', sans-serif;
    color: rgb(99, 6, 61)
    
}

.youtube-button { 
    background-color: rgb(255, 196, 196);
    color: rgb(99, 6, 61);
    font-size: 15px;
    font-family: 'monospace', sans-serif;
    padding: 12px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.youtube-button:hover {
  background-color: rgb(250, 109, 109);
}

.full-screen-block { 
    width: 100vw;
    min-height: 100vh;
    background-color: rgb(255, 227, 227);
}

.main-container {
  display: flex;
  flex-direction: row; 
  gap: 5px;           
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column; 
  flex: 1;               
  gap: 3px;              
}

.column img {
  width: 100%;           
  height: auto;          
  object-fit: cover;
}

/* Container that controls scrolligng feature */
.carousel-container {
  width: 100%;
  overflow-x: scroll;
}


/* Inner part of container: Holds cards next to each other and controls spaccing between cards */
.carousel-track {
  display: flex;
  gap: 0px;
  align-items: center;
}


/* each card */
.box {
  position: relative;
  width: 45vw;
  flex-shrink:0; 
  aspect-ratio: 16 / 9;
  background: black;
  border-radius: 12px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 20px;
  box-sizing: border-box;
}


/* movie posters */
.box img {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: left center; 
  padding-left: 11px; 
}

.movie-info { /* includes the movie name/release date & genre */
  position: absolute;

  right: 30px;
  top: 45%;

  transform: translateY(-50%);

  width: 60%;

  color: white;


  font-size: 14px;

  line-height: 1.5;
}

.movie-review { 
  position: absolute;

  right: 30px;
  top: 45%;

  transform: translateY(-50%);

  width: 60%;

  color: white;


  font-size: 14px;

  line-height: 1.5;
}


/* FILM STRIP EFFECT */
.box::before,
.box::after {
  content: ""; 

  position: absolute; /* positioned relative to Box */

  left: 12px;
  right: 12px;

  height: 14px;

  background-image: repeating-linear-gradient( /* Repetadly stamps white/invisible 20px chunks */
    to right,
    white 0px,
    white 10px,
    transparent 10px,
    transparent 20px
  );

  z-index: 2; /* places pattern above movie poster */
}


/* top film strip */
.box::before {
  top: 8px;
}


/* bottom film strip */
.box::after {
  bottom: 8px;
}

/* flexbox parent container to arrange children inside */
.movies-wrapper {
  min-height: 100vh;

  display: flex;
  align-items: center;
}

/* adjusting/englarging movie strip display for mobile */
@media (max-width: 900px) {
  .movies-wrapper {
    align-items: flex-start;
    padding-top: 180px;
    
  }

  .box {
    width: 92vw;
    flex-direction: column;
    
    aspect-ratio: 3.5/5;
    
  }

   .box img {
    width: 55%;
    height: auto;
    padding-left: 0;
  }

  .movie-info {
    width: 35%;

    margin-left: auto; 

    font-size: 12px;
  }
}

/*  BELOW IS STYLING FOR FRIENDS PAGE */
.photos-pages-header {
  width: 100%;
  background-color: rgb(255, 201, 246);
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-top: 20px;
}

.photo-grid { 
  display: grid; 
  position: relative; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  width: 100%;
}

  .grid-item {
    position: relative; 
    aspect-ratio: 3/4;
    overflow: hidden;
  }

  .photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }

  .hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 226, 246);
    color: black;

    opacity: 0;
    transition: opacity 0.3s ease;

    box-sizing: border-box;
    padding: 10px;
    text-align: center;
  }


@media (min-width: 1024px) {

  .grid-item:hover img {
    opacity: 0;
  }

  .grid-item:hover .hover-text {
    opacity: 1;
  }
}


.comments-section-header { 
  width: 100%;
  background-color: rgb(248, 204, 241);
  margin-top: 20px;
  margin-bottom: 10px;
}

.comments-section { 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  gap: 15px; 
}

.comment { 
  width: 80%;
  border: 1px solid black; 
}
